/* --------------------------------------------- CONTACT ---------------------------------------- */

div.datosBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;

    form {
        background-color: #f3dabb;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.05);
        height: auto;
        width: 40%;

        fieldset {
            border: none;
            

            select, select option, input, textarea {
                font-family: 'Smooch Sans', sans-serif;
                
                background-color: #fefefe8f;
                margin: 10px;
                padding: 5px;
                color: #000000;
                font-weight: 500;
                font-size: large;
                border-radius: 5px;
                height: 50px;
                width: 95%;
                resize: none;
                outline: none;
                border: 0;
            }

            textarea {
                height: 200px;
            }

            button {
                font-family: 'Smooch Sans', sans-serif;
                font-weight: 500;
                font-size: large;
                background-color: #B7CADB;
                margin: 5px;
                color: #000000;
                border-radius: 5px;
                border: 0;
                height: 50px;
                width: 30%;
                

                &:hover {
                    color: #fefefe;
                }
            }

            #inputNombre {
                margin-top: 20px;
            }

            #inputReset {
                background-color: #a1a1a1;
                margin-bottom: 20px;
                height: 30px;
            }
        }

        @media screen and (max-width: 1000px){
            width: 60%;
        }

        @media screen and (max-width: 678px){
            width: 80%;
        }
    }
}

div.pieContactMain div {
    text-align: center;
    padding: 5px;
    padding-top: 20px;

    span {
        font-family: 'Smooch Sans', sans-serif;
        a {
            font-family: 'Smooch Sans', sans-serif;
        }
    }


}

/* ------------------------------------------- END CONTACT -------------------------------------- */
