/* --------------------------------------------- CONTACT ---------------------------------------- */

div.datosBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;

    form {
        background-color: #f3dabb;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.05);
        height: auto;
        width: 60%;

        fieldset {
            border: none;
            display: grid;
            grid-template-columns: 33% 33% 34%;
            grid-template-rows: 20% 20% 40% 20%;
            grid-template-areas: 
            "nombre nombre edad"
            "tel email zona"
            "mess mess mess"
            "reset enviar enviar"
            ;

            #inputNombre{
                grid-area: nombre;
            }
            #inputEdad{
                grid-area: edad;
            }
            #inputTel{
                grid-area: tel;
            }
            #inputEmail{
                grid-area: email;
            }
            #inputZona{
                grid-area: zona;
            }
            #inputMess{
                grid-area: mess;
            }
            #inputReset{
                grid-area: reset;
            }
            #inputEnviar{
                grid-area: enviar;
            }

            select, select option, input, textarea {
                font-family: 'Hind Madurai', sans-serif;
                background-color: #fefefe8f;
                margin: 5px;
                padding: 5px;
                color: #000000;
                font-weight: bold;
                border-radius: 5px;
                width: 90%;
                resize: none;
                outline: none;
                border: 0;
            }

            button {
                background-color: #DAB88B;
                margin: 5px;
                color: #000000;
                border-radius: 5px;
                border: 0;

                &:hover {
                    color: #fefefe;
                }
            }

            @media screen and (max-width: 678px){
                border: none;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: repeat(5, 10%) 20% repeat(2, 10%); 
                grid-template-areas: 
                "nombre"
                "edad"
                "tel"
                "email"
                "zona"
                "mess"
                "reset"
                "enviar"
                ;                
            }
        }
    }
}

div.pieContactMain div {
    text-align: center;
    padding: 5px;
    padding-top: 20px;

    span {
        font-family: 'Hind Madurai', sans-serif;
        a {
            font-family: 'Hind Madurai', sans-serif;
        }
    }


}

/* ------------------------------------------- END CONTACT -------------------------------------- */
